.chatting {
  max-width: 1280px;
  height: 100dvh;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100%;
}

.aside {
  height: 100%;
  padding: 0 10px;
  background-color: var(--pale-gray-10);
}

.asideHeader {
  padding-bottom: 14px;
}

.asideProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 22px 20px 0;
}

.asideProfileText {
  position: relative;
  color: var(--gray);
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: right;
  transition: opacity 0.2s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -21px;
    width: 24px;
    height: 12px;
    background-image: url('/src/images/arrow-next-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &:hover {
    opacity: 0.8;
  }
}

.search {
  width: 100%;
  height: 32px;
  padding: 0 126px;
  border: none;
  border-radius: 5px;
  background-color: var(--pale-gray-20);
  background-image: url('/src/images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center left 100px;
  background-size: 10%;
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  transition: all 0.2s ease-in-out;

  &:focus,
  &:not(:placeholder-shown) {
    padding: 0 24px 0 34px;
    background-position: center left 3px;
    text-align: left;
    outline: none;

    &::placeholder {
      opacity: 0;
    }
  }
}

