.chatting {
  max-width: 1280px;
  height: 100dvh;
  margin: 0 auto;
  overflow: hidden;

  &__content {
    display: grid;
    grid-template-columns: 310px 1fr;
    height: 100%;
  }

  &__aside {
    height: 100%;
    padding: 0 10px;
    background-color: var(--pale-gray-10);
  }

  &__aside-header {
    padding-bottom: 14px;
  }

  &__aside-profile {
    display: flex;
    justify-content: flex-end;
    padding: 20px 22px;
  }

  &__aside-profile-text {
    position: relative;
    color: var(--gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: right;
    transition: opacity 0.2s ease-in-out;

    &::after {
      position: absolute;
      top: 0;
      right: -21px;
      width: 24px;
      height: 12px;
      background-image: url('/src/images/arrow-next-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      content: '';
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__search {
    width: 100%;
    height: 32px;
    padding: 0 126px;
    border: none;
    border-radius: 5px;
    background-color: var(--pale-gray-20);
    background-image: url('/src/images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 100px;
    background-size: 10%;
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    transition: all 0.2s ease-in-out;

    &:focus,
    &:not(:placeholder-shown) {
      padding: 0 24px 0 34px;
      background-position: center left 3px;
      text-align: left;
      outline: none;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__chats {
    display: flex;
    flex-direction: column;
  }

  &__chat {
    display: grid;
    padding: 12px 0;
    border-top: 1px solid var(--pale-gray-20);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    grid-template-columns: 47px 1fr 30px;
    gap: 10px;

    &:hover {
      opacity: 0.7;
    }
  }

  &__chat-avatar {
    width: 47px;
    height: 47px;
  }

  &__chat-preview {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__chat-name {
    color: var(--black);
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
  }

  &__chat-message {
    color: var(--gray);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &__chat-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 14px;
  }

  &__chat-time {
    color: var(--gray);
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
  }

  &__chat-count-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
  }

  &__dialog-window {
    display: grid;
    height: 100%;
    padding: 0 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 54px 1fr 54px;
  }

  &__dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--pale-gray-20);
  }

  &__dialog-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__dialog-user-avatar {
    width: 34px;
    height: 34px;
  }

  &__dialog-user-name {
    color: var(--black);
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
  }

  &__dialog-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('/src/images/more-vertical-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15%;
    cursor: pointer;
  }

  &__dialog-control {
    display: grid;
    align-items: center;
    padding: 11px 0;
    border-top: 1px solid var(--pale-gray-20);
    grid-template-columns: 32px 1fr 28px;
    gap: 10px;
  }

  &__dialog-file {
    width: 32px;
    height: 32px;
    border: none;
    background-image: url('/src/images/file-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.12);
      opacity: 0.8;
    }

    input {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  &__dialog-input-text {
    height: 32px;
    padding-left: 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--pale-gray-20);
    color: var(red);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;

    &:focus {
      outline: none;
    }
  }

  &__dialog-send-message {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    background-image: url('/src/images/send-arrow-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }

    &:active {
      outline: 1px var(--blue) solid;
    }
  }
}
