.profile {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.photo {
  width: 130px;
  height: 130px;
}

.name {
  margin-top: 20px;
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 60px;
}

.wrapperControl {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.wrapperLink {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid var(--pale-gray-20);
}
