.backIcon {
  width: 28px;
  height: 28px;
  transition: all 0.2s ease-in-out;
}

.back {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 100%;
  background-color: var(--pale-gray-10);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--pale-gray-20);

    .backIcon {
      transform: translateX(-4px);
      opacity: 0.9;
    }
  }
}

.backLink {
  display: block;
}
