.errorValidationLeft{
  position: absolute;
  bottom: -16px;
  left: 0;
  color: var(--red);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
}

.errorValidationRight {
  position: absolute;
  right: 0;
  bottom: -16px;
  color: var(--red);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
}
